.projects {
  /* height: 100vh; */
  width: 100%;
  /* background-color: lightgray; */
  background: url(../images/image3.jpg) no-repeat center center/cover;
  background-attachment: fixed;

  /* display: flex;
  flex-direction: column; */
}
.projects .title h1 {
  text-align: center;
  margin-top: 0;
}
.projects h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.projects h2 {
  font-size: 3rem;
}
.projects h3 {
  font-size: 2rem;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list h1 {
  margin-top: 0.5rem;
}

.project {
  background-color: rgb(163, 163, 163);
  border-radius: 30px;
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.project h1 {
  text-align: center;
}
.project .description {
  padding: 0 1rem;
}

.project img {
  max-height: 300px;
  max-width: 300px;
  padding: 1rem;
  border: none;
}

.image-and-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project .links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}

.image-and-links a {
  color: rgb(49, 49, 49);
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
}
.image-and-links a:hover {
  background-color: lightgray;
}

@media (max-width: 800px) {
  .projects h1 {
    font-size: 2rem;
  }
  .projects h2 {
    font-size: 1.5rem;
  }
  .projects h3 {
    font-size: 1.2rem;
  }
  .project img {
    max-height: 200px;
    max-width: 200px;
  }

  .project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .project .description {
    padding-top: 0;
  }
  .description h1 {
    margin-bottom: 0;
  }
}
