body {
  position: relative;
  margin: 0;
  font-family: 'arial', serif;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
  display: inline;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

